/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Local config file for running viralrecon
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines custom process parameters for viralrecon pipeline.

    Use as follows:
        nextflow run nf-core/viralrecon -profile <docker/singularity> -c <this_profile> --input <samplesheet.csv> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name = 'rsv illumina profile'
    config_profile_description = 'rsv illumina analysis'

    //skip QC
    skip_fastqc = true
    skip_kraken2 = true
    skip_fastp = true
    skip_cutadapt = true

    // Variant calling options
    variant_caller = 'ivar'

    // Assembly options
    skip_assembly = true

    // lineage assignment
    skip_asciigenome = true
    skip_nextclade = true
    skip_pangolin = true

    skip_multiqc = true
}
