/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Local config file for running viralassembly
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines custom process parameters for viralassembly pipeline.

    Use as follows:
        nextflow run nf-core/viralassembly -profile <docker/singularity> -c <this_profile> --input <samplesheet.csv> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'viralassembly profile'
    config_profile_description = 'viralassembly analysis'

    clair3_no_pool_split = true
    min_length = 500
    max_length = 1500
    variant_caller='clair3'
    clair3_user_variant_model='/nfs/APL_Genomics/apps/production/rerio/clair3_models/r1041_e82_400bps_hac_v430'
    scheme_version='v3'
    local_scheme='/nfs/APL_Genomics/virus_rsv/rsv-analyzer/resource/primerschemes'

}
