/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'RSV/A profile'
    config_profile_description = 'human rsvA analysis'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '24.GB'
    max_time   = '24.h'
    skip_qc = true
    clair3_no_pool_split = true
    min_length = 500
    max_length = 1500
    variant_caller='clair3'
    clair3_user_variant_model='/nfs/APL_Genomics/apps/production/rerio/clair3_models/r1041_e82_400bps_sup_v420'
    scheme='rsvA'
    scheme_version='v3'
    local_scheme='/nfs/Genomics_DEV/projects/xdong/deve/rsv/resource/primerschemes'

}
