/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/viralrecon -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'RSVA-illumina'
    config_profile_description = 'rsvA analysis'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 8
    max_memory = '24.GB'
    max_time   = '24.h'

    // Input data to test amplicon analysis
    input              = 'rsvA_samples.csv'
    protocol           = 'amplicon'

    primer_bed ='/nfs/Genomics_DEV/projects/xdong/deve/rsv/resource/primerschemes/rsvA/v3/scheme.bed'
    primer_fasta ='/nfs/Genomics_DEV/projects/xdong/deve/rsv/resource/rsvAB_primers.fasta'
    // Genome references
    fasta = '/nfs/Genomics_DEV/projects/xdong/deve/rsv/resource/primerschemes/rsvA/v3/reference.fasta'

    //skip QC
    skip_fastqc  = true //                [boolean] Skip FastQC.
    skip_kraken2 = true //                 [boolean] Skip Kraken2 process for removing host classified reads.
    skip_fastp = true //                   [boolean] Skip the initial read trimming step peformed by fastp.
    skip_cutadapt = true //                [boolean] Skip the amplicon trimming step with Cutadapt when using --protocol amplicon.
    // Variant calling options
    variant_caller = 'ivar'

    // Assembly options
	skip_assembly = true
    skip_nextclade = true


}

